.grid-item-3 {
    background-color: #18a7aa96;
    color: white;
    font-size: xx-large;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 15px rgba(202, 197, 197, 0.8), 
  }

.grid-item-3-heading {
    margin-left: 35px;
    transform: translateY(-15px);
    opacity: 0.8;
    margin-bottom: 0px;
}

.grid-item-3-p {
    opacity: 0.5;
    margin-left: 35px;
    margin-right: 90px;
    margin-top: 0px;
    font-size: small;
    margin-bottom: 0px;
    margin-top: 4px;
}